[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppCensSpatial"]
	path = RcppCensSpatial
	url = https://github.com/katherineloor/rcppcensspatial
[submodule "relliptical"]
	path = relliptical
	url = https://github.com/katherineloor/relliptical
